@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/five-nights-at-freddys');
@import url('https://fonts.cdnfonts.com/css/arcade-classic');
:root {
	--primary-color: #710477;
	--background-color: #ffffff;
	--dark-color: #1e1d1d;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 120rem;
	margin: 0 auto;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}

.container-hero {
	background-color: var(--background-color);
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}

.customer-support {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.customer-support i {
	font-size: 3.3rem;
}

.content-customer-support {
	display: flex;
	flex-direction: column;
}

.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.container-logo i {
	font-size: 3rem;
}

.container-logo h1 a {
	text-decoration: none;
	color: #000;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.container-user {
	display: flex;
	gap: 1rem;
	cursor: pointer;
}

.container-user .fa-user {
	font-size: 3rem;
	color: var(--primary-color);
	padding-right: 2.5rem;
	border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping {
	font-size: 3rem;
	color: var(--primary-color);
	padding-left: 1rem;
}

.content-shopping-cart {
	display: flex;
	flex-direction: column;
}

.container-navbar {
	background-color: var(--primary-color);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.navbar .fa-bars {
	display: none;
	font-family: 'Poppins', sans-serif;
	font-size: 62.5%;
}

.menu {
	display: flex;
	gap: 2rem;
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-size: 1.3rem;
	color: var(--dark-color);
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}

.menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color: #fff;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.menu a:hover::after {
	opacity: 1;
}

.menu a:hover {
	color: #fff;
}

.search-form {
	position: relative;
	display: flex;
	align-items: center;
	border: 2px solid #fff;
	border-radius: 2rem;
	background-color: #fff;
	height: 4.4rem;
	overflow: hidden;
}

.search-form input {
	outline: none;
	font-family: inherit;
	border: none;
	width: 25rem;
	font-size: 1.4rem;
	padding: 0 2rem;
	color: #777;
	cursor: pointer;
}

.search-form input::-webkit-search-cancel-button {
	appearance: none;
}

.search-form .btn-search {
	border: none;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem;
}

.btn-search i {
	font-size: 2rem;
	color: #fff;
}

.banner {
	background-image: linear-gradient(100deg, #000000, #00000020),
		url('../img/banner.jpg');
	height: 74rem;
	background-size: cover;
	background-position: center;
}

.content-banner {
	max-width: 90rem;
	margin: 0 auto;
	padding: 25rem 0;
}

.content-banner p {
	color: var(--primary-color);
	font-size: 1.2rem;
	margin-bottom: 1rem;
	font-weight: 500;
}

.content-banner h2 {
	font-family: 'ArcadeClassic', sans-serif;
	color: #fff;
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.2;	
}

.content-banner a {
	margin-top: 2rem;
	text-decoration: none;
	color: #fff;
	background-color: var(--primary-color);
	display: inline-block;
	padding: 1rem 3rem;
	text-transform: uppercase;
	border-radius: 3rem;
}

.main-content {
	background-color: var(--background-color);
	color: #000;
}


.container-features {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
	padding: 3rem 0;
}

.card-feature {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	background-color: #fff;
	border-radius: 1rem;
	padding: 1.5rem 0;
}

.card-feature i {
	font-size: 2.7rem;
	color: var(--primary-color);
}

.feature-content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.feature-content span {
	font-weight: 700;
	font-size: 1.2rem;
	color: var(--dark-color);
}

.feature-content p {
	color: #777;
	font-weight: 500;
}

.top-categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card-category {
    width: 30%; 
    margin: 20px 0;
    padding: 20px;
    background-color: #f2f2f2;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .card-category {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .card-category {
        width: 100%; 
    }
}



.category-moca {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/moca-category.jpg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.category-capuchino {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/capuchino-category.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.category-expreso {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/expreso-category.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.card-category p {
	font-size: 2.5rem;
	color: #000000;
	text-transform: capitalize;
	position: relative;
}



.card-category span {
	font-size: 1.6rem;
	color: #000000;
	cursor: pointer;
}

.card-category span:hover {
	color: var(--primary-color);
}

.top-products {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-options {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 1rem;
}

.container-options span {
	color: #777;
	background-color: #fff;
	padding: 0.7rem 3rem;
	font-size: 1.4rem;
	text-transform: capitalize;
	border-radius: 2rem;
	cursor: pointer;
}

.container-options span:hover {
	background-color: var(--primary-color);
	color: #fff;
}

.container-options span.active {
	background-color: var(--primary-color);
	color: #fff;
}

/* Products */
.container-products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;
}

.card-product {
	background-color: #fff;
	padding: 2rem 3rem;
	border-radius: 0.5rem;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.container-img {
	position: relative;
}

.container-img img {
	width: 100%;
}

.container-img .discount {
	position: absolute;
	left: 0;
	background-color: var(--primary-color);
	color: #fff;
	padding: 2px 1.2rem;
	border-radius: 1rem;
	font-size: 1.2rem;
}

.card-product:hover .discount {
	background-color: #000;
}


.card-product:hover .button-group {
	z-index: 0;
	right: 1rem;
}

.card-product h4 {
	font-size: 1.4rem;
	font-weight: 600;
	margin: 1rem 0 2rem 0;
}


.card-product .price {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.card-product .price span {
	font-size: 1.5rem;
	font-weight: 700;
}

.card-product .price .before {
	text-decoration: line-through;
	color: #777;
	font-weight: 500;
}

.card-product p {
	font-size: 1.2rem;
	color: #777;
	font-weight: 500;
	line-height: 1.5;
	margin: 1rem 0 2rem 0;
}

.card-product a {
	text-decoration: none;
	color: var(--primary-color);
	display: inline-block;
	font-weight: 600;
}

.card-product a:hover {
	text-decoration: underline;
}

.top-featured-products {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-featured-products {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

.card-featured-product {
	background-color: #fff;
	border-radius: 1rem;
	padding: 1.5rem;
}

.card-featured-product:hover img {
	transform: scale(1.1);
}

.card-featured-product img {
	width: 100%;
	transition: all 0.4s ease;
}

.container-featured-product {
	display: flex;
	flex-direction: column;
}

.container-featured-product span {
	display: inline-block;
	background-color: var(--primary-color);
	padding: 0.2rem 1.5rem;
	color: #fff;
	margin-bottom: 0.7rem;
	font-size: 1.2rem;
	border-radius: 1rem;
}

.container-featured-product h3 {
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 1rem;
	color: var(--dark-color);
}

.container-featured-product p {
	font-size: 1.2rem;
	color: #777;
	margin-bottom: 1rem;
}

.container-featured-product .price {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.container-featured-product .price span {
	font-size: 1.7rem;
	font-weight: 700;
	color: var(--primary-color);
}

.container-featured-product .price .before {
	text-decoration: line-through;
	color: #777;
	font-weight: 500;
}

.container-featured-product .rating {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.container-featured-product .rating i {
	color: var(--primary-color);
	font-size: 1.5rem;
}

.footer {
    background-color: var(--dark-color);
    color: #fff;
    padding: 4rem 0;
    font-size: 1.4rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer-section {
    flex: 1;
    min-width: 25rem;
}

.footer-section h3 {
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.footer-section p,
.footer-section ul {
    color: #ccc;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 1rem;
}

.footer-section ul li i {
    margin-right: 1rem;
}

.container-icons {
    display: flex;
    gap: 1rem;
}

.container-icons a {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background-color: #777;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    font-size: 2rem;
    transition: all 0.3s ease;
}

.container-icons a:hover {
    background-color: var(--primary-color);
}

.footer-bar {
    border-top: 1px solid #444;
    text-align: center;
    padding: 2rem 0;
    margin-top: 2rem;
}

.footer-bar p {
    margin: 0;
    font-size: 1.2rem;
    color: #777;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .footer-section {
        min-width: 100%;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  padding-top: 0.25px;
}

nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  background: rgba(234, 234, 234, 0.5); 
  height: 70px;
}


nav .wrapper {
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .logo a {
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.wrapper .logo img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.wrapper .nav-links {
  display: inline-flex;
}

.nav-links li {
  list-style: none;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 2rem;
  background-color: #fff;
  height: 4.4rem;
  overflow: hidden;
}

.search-form input {
  outline: none;
  font-family: inherit;
  border: none;
  width: 25rem;
  font-size: 1.4rem;
  padding: 0 2rem;
  color: #777;
  cursor: pointer;
}

.search-form input::-webkit-search-cancel-button {
  appearance: none;
}

.search-form .btn-search {
  border: none;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}

.btn-search i {
  font-size: 2rem;
  color: #fff;
}

.nav-links li a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  background: #0000005a;
}

.nav-links .mobile-item {
  display: none;
}

.nav-links .drop-menu {
  position: absolute;
  background: rgba(234, 234, 234, 0.804); 
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(166, 166, 166, 0.15);
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}

.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}

.mega-box {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content {
  background: rgba(0, 0, 0, 0.845);
  padding: 25px 20px;
  display: flex;
  width: 100%;
  gap: 40px;
  box-shadow: 0 6px 10px rgba(1, 1, 1, 0.15);
}


.mega-box .content .row {
  width: calc(25% - 10px);
  line-height: 45px;
}

.content .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content .row header {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}

.content .row .mega-links {
  margin-left: 40px;
  border-left: 1px solid rgb(255, 255, 255);
}

.row .mega-links li {
  padding: 0 10px;
}

.row .mega-links li a {
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}

.row .mega-links li a:hover {
  color: #f2f2f2;
}

.wrapper .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .wrapper .btn {
    display: block;
  }

  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #000000;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgb(255, 255, 255);
    transition: all 0.3s ease;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #769cc3;
  }

  ::-webkit-scrollbar-thumb {
    background: #769cc3;
  }

  #menu-btn:checked~.nav-links {
    left: 0%;
  }

  #menu-btn:checked~.btn.menu-btn {
    display: none;
  }

  #close-btn:checked~.btn.menu-btn {
    display: block;
  }

  .nav-links li {
    margin: 15px 10px;
  }

  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }

  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }

  #showDrop:checked~.drop-menu,
  #showMega:checked~.mega-box {
    max-height: 10%;
  }

  .nav-links .desktop-item {
    display: none;
  }

  .nav-links .mobile-item {
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;

    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .nav-links .mobile-item:hover {
    background: #77b5f2;
  }

  .drop-menu li {
    margin: 0;
  }

  .drop-menu li a {
    border-radius: 5px;
    font-size: 18px;
  }

  .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }

  .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(216, 58, 58, 0.08);
  }

  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0px;
  }

  .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
  }

  .row .mega-links li {
    margin: 0;
  }

  .content .row header {
    font-size: 19px;
  }
}

nav input {
  display: none;
}

.body-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
  padding: 10 30px;
}

.body-text div {
  font-size: 45px;
  font-weight: 600;
}

.slider {
  width: 1300px;
  max-width: 100vw;
  height: 700px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.slider .list {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}

.slider .list img {
  width: 1300px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}

.slider .buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.slider .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(95, 93, 93, 0.333);
  color: #2a2a2a;
  border: none;
  font-family: monospace;
  font-weight: bold;
}

.slider .dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #000000;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.slider .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #848282;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}

.slider .dots li.active {
  width: 30px;
}

@media screen and (max-width: 768px) {
  .slider {
    height: 400px;
  }
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  transition: top 0.3s; 
}

.search-cart {
  font-size: 25px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
}

.search-cart input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  opacity: 1;
}


.search-cart .search-icon,
.search-cart .cart-icon {
  color: #000;
  cursor: pointer;
}

.search-cart .search-icon:hover,
.search-cart .cart-icon:hover {
  color: #555;
}
